# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [53]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from googleapi import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [54]:

file_path = os.path.join("City_Weather_Output.csv")
cities = pd.read_csv(file_path)
cities.head()

,Unnamed: 0,long,lat,City,Country,Temperature,Humidity,Cloudiness,Wind Speed,Date
0,0,10.781778,73.720745,barentsburg,sj,51.80,76.0,87.0,4.47,1.600052e+09
1,1,58.102896,-87.219568,east london,za,59.00,67.0,3.0,19.46,1.600099e+09
2,2,-99.318010,-80.038423,punta arenas,cl,46.40,61.0,20.0,40.26,1.600099e+09
3,3,176.342260,-10.508928,asau,tv,70.00,71.0,2.0,4.16,1.600100e+09
4,4,66.378518,42.581710,zhanakorgan,kz,72.48,23.0,0.0,10.98,1.600100e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [62]:
# Access maps with unique API key  ???
#gmaps.configure(googleapi=gkey)

In [66]:
locations = cities[['lat','long']]
# switched lat and long, so that lat was on the left, per google api direction

#locations

weight = cities['Humidity']

In [ ]:
### from gmaps example:: 

# store the figure in a variable so we can continue to add layers to the same map
fig = gmaps.figure()

# display the figure
fig

In [ ]:
# Create a marker layer using our coordinates
markers = gmaps.marker_layer(coordinates)

# Add the layer to the map
fig.add_layer(markers)

# display the figure with the newly added layer
fig

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [44]:
desired_cities1 = cities.loc[cities['Temperature']>=70]

desired_cities1

,Unnamed: 0,long,lat,City,Country,Temperature,Humidity,Cloudiness,Wind Speed,Date
3,3,176.342260,-10.508928,asau,tv,70.00,71.0,2.0,4.16,1.600100e+09
4,4,66.378518,42.581710,zhanakorgan,kz,72.48,23.0,0.0,10.98,1.600100e+09
6,6,12.734747,-6.516690,soyo,ao,76.42,71.0,67.0,9.82,1.600100e+09
7,7,111.429322,-89.359521,albany,au,71.01,54.0,13.0,1.01,1.600100e+09
9,9,-118.257668,53.016707,jasper,ca,70.00,82.0,20.0,5.82,1.600100e+09
...,...,...,...,...,...,...,...,...,...,...
555,1269,29.747126,53.019237,zlobin,by,86.00,35.0,28.0,9.17,1.600099e+09
556,1272,33.985255,33.513197,nahariyya,il,86.00,62.0,20.0,10.29,1.600099e+09
557,1273,-5.826060,-0.786483,tabou,ci,77.67,84.0,92.0,13.35,1.600099e+09
560,1279,67.166677,61.641323,oktyabrskoye,ru,73.40,60.0,0.0,2.24,1.600099e+09
561,1281,-53.401941,4.810495,iracoubo,gf,86.36,62.0,1.0,9.17,1.600099e+09

In [48]:
desired_cities2 = desired_cities1.loc[desired_cities1['Temperature']<=80]
desired_cities2

,Unnamed: 0,long,lat,City,Country,Temperature,Humidity,Cloudiness,Wind Speed,Date
3,3,176.342260,-10.508928,asau,tv,70.00,71.0,2.0,4.16,1.600100e+09
4,4,66.378518,42.581710,zhanakorgan,kz,72.48,23.0,0.0,10.98,1.600100e+09
6,6,12.734747,-6.516690,soyo,ao,76.42,71.0,67.0,9.82,1.600100e+09
7,7,111.429322,-89.359521,albany,au,71.01,54.0,13.0,1.01,1.600100e+09
9,9,-118.257668,53.016707,jasper,ca,70.00,82.0,20.0,5.82,1.600100e+09
...,...,...,...,...,...,...,...,...,...,...
548,1258,-92.643363,12.193010,champerico,gt,71.01,86.0,92.0,0.09,1.600099e+09
552,1265,87.499519,-7.993369,padang,id,78.93,76.0,100.0,1.88,1.600099e+09
554,1267,48.687905,6.768173,hobyo,so,78.89,80.0,1.0,27.67,1.600099e+09
557,1273,-5.826060,-0.786483,tabou,ci,77.67,84.0,92.0,13.35,1.600099e+09
560,1279,67.166677,61.641323,oktyabrskoye,ru,73.40,60.0,0.0,2.24,1.600099e+09

In [49]:
desired_cities = desired_cities2.dropna()
desired_cities

,Unnamed: 0,long,lat,City,Country,Temperature,Humidity,Cloudiness,Wind Speed,Date
3,3,176.342260,-10.508928,asau,tv,70.00,71.0,2.0,4.16,1.600100e+09
4,4,66.378518,42.581710,zhanakorgan,kz,72.48,23.0,0.0,10.98,1.600100e+09
6,6,12.734747,-6.516690,soyo,ao,76.42,71.0,67.0,9.82,1.600100e+09
7,7,111.429322,-89.359521,albany,au,71.01,54.0,13.0,1.01,1.600100e+09
9,9,-118.257668,53.016707,jasper,ca,70.00,82.0,20.0,5.82,1.600100e+09
...,...,...,...,...,...,...,...,...,...,...
548,1258,-92.643363,12.193010,champerico,gt,71.01,86.0,92.0,0.09,1.600099e+09
552,1265,87.499519,-7.993369,padang,id,78.93,76.0,100.0,1.88,1.600099e+09
554,1267,48.687905,6.768173,hobyo,so,78.89,80.0,1.0,27.67,1.600099e+09
557,1273,-5.826060,-0.786483,tabou,ci,77.67,84.0,92.0,13.35,1.600099e+09
560,1279,67.166677,61.641323,oktyabrskoye,ru,73.40,60.0,0.0,2.24,1.600099e+09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure